<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <%= profile_img(user) %>
        <%= link_to user_path(user) do %>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
          <h4>ユーザー名：<strong><%= user.name%></strong></h4>
        <% end %>
        <p>email:<%= user.email %></p>
        <%= render 'follow_form', user: user %>
      </div>
  <% end %>
</div>
